# ---------- Backend Framework ----------
fastapi==0.115.0
uvicorn==0.30.6

# ---------- Database ----------
sqlalchemy==2.0.36
psycopg2-binary==2.9.9

# ---------- Environment Variables ----------
python-dotenv==1.0.1

# ---------- Security ----------
pycryptodome==3.20.0

# ---------- Validation ----------
pydantic==2.9.2

# ---------- Email ----------
email-validator==2.2.0